[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	df = diff
	dc = diff --cached
	lg = log -p
	ls = ls-files
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ign = ls-files -o -i --exclude-standard
	pl = pull --recurse-submodules
    stale = "!git branch -vv | grep \": gone]\" | grep -v \"*\" | awk '{ print $1; }'"
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	editor = vim
	autocrlf = input
	pager = less -X -F
[merge]
	log = true
	renamelimit = 31317
[fetch]
	recursesubmodules = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = current
[branch]
	autosetuprebase = always
[pull]
	rebase = true
# The following includes an optional credentials file. Place your git name,
# email, and signing key here. Optionally add includeif directives to change
# the credentials to a different file based on the working directory.
#
# Set credentials in the appropriate file:
# git config --file ~/.gitconfig_credentials user.name "Fred Rogers"
# git config --file ~/.gitconfig_credentials user.email "fred@neighborhood.com"
# git config --file ~/.gitconfig_credentials user.signingkey 0A46826A
#
# Sample includeif directive:
#
# includeIf "gitdir:~/dev/org/"]
#     path = ~/dev/org/.gitconfig
[include]
	path = ~/.gitconfig_credentials
